In [1]:
import os
import pandas as pd
import dtale
from sklearn.preprocessing import MinMaxScaler

C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning:

pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [2]:
DATA_PATHS = [os.path.join('../data', x) for x in os.listdir('../data') if x.endswith('.csv')]
DATA_PATHS

['../data\\1010new.csv',
 '../data\\1010new_processed.csv',
 '../data\\2020new.csv',
 '../data\\2020new_processed.csv',
 '../data\\55new.csv',
 '../data\\55new_processed.csv']

In [3]:
# read csv files
path2df = {}
path2type = {}

for data_path in DATA_PATHS:
    if '_processed.csv' in data_path:
        continue
    
    set_type = 'test' if '1010new.csv' in data_path else 'train'
    df = pd.read_csv(data_path)
    
    path2df[data_path] = df
    path2type[data_path] = set_type

path2type

{'../data\\1010new.csv': 'test',
 '../data\\2020new.csv': 'train',
 '../data\\55new.csv': 'train'}

In [4]:
train_df = pd.concat([df for path, df in path2df.items() if path2type[path] == 'train'], axis=0)

scaler = MinMaxScaler()
scaler.fit(train_df.iloc[:, 2:])

train_df

,Ship_ID,Sample_Time,Latitude,Longitude,Heading,Speed,Length,Width,Work Frequency,pulse repetition frequency,pulse width
0,1,2023/12/10 10:00,16.764500,111.734640,349.713524,37.709174,160.970019,25.348867,3995.213196,590.799828,253.722855
1,2,2023/12/10 10:00,16.718144,111.911239,236.333511,44.203041,255.883095,32.097396,8802.592798,1525.520581,151.058307
2,3,2023/12/10 10:00,16.714125,112.150146,156.684916,33.478138,67.888537,16.797846,5621.453923,961.062816,120.129506
3,4,2023/12/10 10:00,16.720738,112.331162,208.730781,24.640824,13.700220,8.456157,2232.209638,329.161559,150.486240
4,5,2023/12/10 10:00,16.769878,112.553308,20.209904,46.511623,164.493393,22.591839,8880.827479,584.803285,449.489113
...,...,...,...,...,...,...,...,...,...,...,...
2995,26,2023/12/10 18:15,19.411719,113.454785,277.540434,34.908000,82.103947,16.036159,8821.358451,1543.804045,150.092424
2996,27,2023/12/10 18:15,19.868049,112.852232,283.370519,43.225632,145.920628,22.532231,8898.518969,573.302998,442.529713
2997,28,2023/12/10 18:15,19.451073,117.871343,77.573312,20.510557,21.010597,6.380410,2524.645285,400.728013,197.271288
2998,29,2023/12/10 18:15,20.093754,118.548096,67.294008,30.737095,280.221890,44.796785,4020.532591,509.895314,287.952094
2999,30,2023/12/10 18:15,18.625567,114.770519,246.661096,19.191981,12.804024,5.188512,1894.764850,304.085256,155.072577

In [5]:
# scaling the train and test
for data_path in DATA_PATHS:
    if '_processed.csv' in data_path:
        continue
    
    set_type = path2type[data_path]
    df = pd.read_csv(data_path)
    # df.iloc[:, 2:] = scaler.transform(df.iloc[:, 2:])
    
    # handle Sample_Time to frame id 
    time2id = {v: k for k, v in list(enumerate(df['Sample_Time'].unique()))}
    df['Sample_Time'] = df['Sample_Time'].map(time2id)

    # save export the file
    df.to_csv(data_path.replace('.csv', '_processed.csv'), index=False)
    
df

,Ship_ID,Sample_Time,Latitude,Longitude,Heading,Speed,Length,Width,Work Frequency,pulse repetition frequency,pulse width
0,1,0,19.020626,116.182552,174.475401,26.130352,23.136604,7.112239,2505.445257,392.609169,216.429930
1,2,0,19.124962,116.184015,3.789092,47.086091,155.960813,19.784299,8876.499044,593.215168,435.648414
2,3,0,19.167087,116.191395,19.913651,39.692233,300.095121,50.782049,5196.643056,578.664901,430.137848
3,4,0,19.154575,116.177181,186.292158,47.375126,322.419877,37.916961,8584.522066,618.058345,564.620253
4,5,0,19.219207,116.187558,162.337176,29.001673,45.329194,20.531136,3049.777768,516.598014,284.822923
...,...,...,...,...,...,...,...,...,...,...,...
2995,26,99,19.411719,113.454785,277.540434,34.908000,82.103947,16.036159,8821.358451,1543.804045,150.092424
2996,27,99,19.868049,112.852232,283.370519,43.225632,145.920628,22.532231,8898.518969,573.302998,442.529713
2997,28,99,19.451073,117.871343,77.573312,20.510557,21.010597,6.380410,2524.645285,400.728013,197.271288
2998,29,99,20.093754,118.548096,67.294008,30.737095,280.221890,44.796785,4020.532591,509.895314,287.952094
2999,30,99,18.625567,114.770519,246.661096,19.191981,12.804024,5.188512,1894.764850,304.085256,155.072577

In [27]:
d = dtale.show(df)
d.open_browser()

2024-02-04 21:31:42,253 - INFO     - Executing shutdown due to inactivity...
2024-02-04 21:31:42,313 - INFO     - Executing shutdown...
2024-02-04 21:31:42,315 - INFO     - Not running with the Werkzeug Server, exiting by searching gc for BaseWSGIServer

In [24]:
# Assigning a reference to a running D-Tale process
df = pd.read_csv(DATA_PATHS[0])
df_ = pd.read_csv(DATA_PATHS[2])
d = dtale.show(df)
d.open_browser()

d_ = dtale.show(df_)
d_.open_browser()