In [4]:
import os
import pandas as pd
import dtale

In [9]:
DATA_PATHS = [os.path.join('../data', x) for x in os.listdir('../data') if x.endswith('.csv')]
DATA_PATHS

['../data\\1010new.csv', '../data\\2020new.csv', '../data\\55new.csv']

In [22]:
# load csv
for data_path in DATA_PATHS:
    df = pd.read_csv(data_path)

    # handle Sample_Time to frame id 
    time2id = {v: k for k, v in list(enumerate(df['Sample_Time'].unique()))}
    df['Sample_Time'] = df['Sample_Time'].map(time2id)

    # save export the file
    df.to_csv(data_path.replace('.csv', '_processed.csv'), index=False)

df

,Ship_ID,Sample_Time,Latitude,Longitude,Heading,Speed,Length,Width,Work Frequency,pulse repetition frequency,pulse width
0,1,0,19.020626,116.182552,174.475401,26.130352,23.136604,7.112239,2505.445257,392.609169,216.429930
1,2,0,19.124962,116.184015,3.789092,47.086091,155.960813,19.784299,8876.499044,593.215168,435.648414
2,3,0,19.167087,116.191395,19.913651,39.692233,300.095121,50.782049,5196.643056,578.664901,430.137848
3,4,0,19.154575,116.177181,186.292158,47.375126,322.419877,37.916961,8584.522066,618.058345,564.620253
4,5,0,19.219207,116.187558,162.337176,29.001673,45.329194,20.531136,3049.777768,516.598014,284.822923
...,...,...,...,...,...,...,...,...,...,...,...
2995,26,99,19.411719,113.454785,277.540434,34.908000,82.103947,16.036159,8821.358451,1543.804045,150.092424
2996,27,99,19.868049,112.852232,283.370519,43.225632,145.920628,22.532231,8898.518969,573.302998,442.529713
2997,28,99,19.451073,117.871343,77.573312,20.510557,21.010597,6.380410,2524.645285,400.728013,197.271288
2998,29,99,20.093754,118.548096,67.294008,30.737095,280.221890,44.796785,4020.532591,509.895314,287.952094
2999,30,99,18.625567,114.770519,246.661096,19.191981,12.804024,5.188512,1894.764850,304.085256,155.072577

In [5]:
# Assigning a reference to a running D-Tale process
# d = dtale.show(df)
# d.open_browser()

C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\views.py:2118: FutureWarning:

The default value of regex will change from True to False in a future version.

2024-02-03 21:17:15,420 - ERROR    - Exception occurred while processing request: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''
Traceback (most recent call last):
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\views.py", line 119, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\views.py", line 3110, in get_column_analysis
    return jsonify(**analysis.build())
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\column_analysis.py", line 142, in build
    return_data, code = self.analysis.build(self)
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\column_analysis.py", line 187, in build
    parent.data[parent.selected_col]
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\column_analysis.py", line 162, in build_histogram_data
    hist_data, hist_labels = np.histogram(series, **hist_kwargs)
  File "<__array_function__ internals>", line 6, in histogram
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\numpy\lib\histograms.py", line 793, in histogram
    bin_edges, uniform_bins = _get_bin_edges(a, bins, range, weights)
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\numpy\lib\histograms.py", line 426, in _get_bin_edges
    first_edge, last_edge = _get_outer_edges(a, range)
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\numpy\lib\histograms.py", line 322, in _get_outer_edges
    if not (np.isfinite(first_edge) and np.isfinite(last_edge)):
TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''
2024-02-03 21:17:17,857 - ERROR    - Exception occurred while processing request: Can only use .str accessor with string values!
Traceback (most recent call last):
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\views.py", line 119, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\views.py", line 3110, in get_column_analysis
    return jsonify(**analysis.build())
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\column_analysis.py", line 142, in build
    return_data, code = self.analysis.build(self)
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\column_analysis.py", line 458, in build
    hist = self.build_hist(s, code)
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\dtale\column_analysis.py", line 512, in build_hist
    pd.value_counts(s.str.split(expand=True).stack())
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\pandas\core\generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\pandas\core\accessor.py", line 181, in __get__
    accessor_obj = self._accessor(obj)
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\pandas\core\strings\accessor.py", line 168, in __init__
    self._inferred_dtype = self._validate(data)
  File "C:\Users\chris\Desktop\CodeRepositories\venv\lib\site-packages\pandas\core\strings\accessor.py", line 225, in _validate
    raise AttributeError("Can only use .str accessor with string values!")
AttributeError: Can only use .str accessor with string values!
2024-02-03 22:17:33,209 - INFO     - Executing shutdown due to inactivity...
2024-02-03 22:17:33,400 - INFO     - Executing shutdown...
2024-02-03 22:17:33,404 - INFO     - Not running with the Werkzeug Server, exiting by searching gc for BaseWSGIServer